<footer class="bg-gray-100 text-gray-600">
  <div class="container mx-auto px-6 pt-10 pb-6">
  <div class="content has-text-centered">
    <p>
      <strong>Tailwind</strong> by <a href="https://github.com/tailwindcss/tailwindcss">the Tailwind contributors</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
    </p>
    <p>
      Rails template made by <a href="https://github.com/Naokimi"><i class="fab fa-github"></i> Naokimi</a>
    </p>
  </div>
  </div>
</footer>
