<div class="flex-auto py-20 text-gray-700 bg-white" style="background: linear-gradient(90deg, #667eea 0%, #764ba2 100%)"
>
  <div class="container mx-auto px-6">
    <h2 class="text-4xl font-bold mb-2 text-white">
      <i class="fas fa-heart"></i> Tailwind Framework <i class="fas fa-heart"></i>
    </h2>
    <h3 class="text-2xl mb-8 text-gray-200">
      A highly customizable, low-level CSS framework. Discover how to <strong>customize</strong> it!
    </h3>

    <a class="bg-white font-bold rounded-full py-4 px-8 shadow-lg uppercase tracking-wider" href="https://tailwindcss.com/components">
      Documentation
    </a>
  </div>
</div>
