<!DOCTYPE html>
<html>

<head>
  <title>Breakout Group</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <link rel="icon" type="image/png" href="../public/odaiba-favicon-32x32.png" />
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>

<header>
  <nav class="flex items-center justify-between flex-wrap bg-yellow-400 px-4 py-2" style="background-color: #f7be2a">

    <a href="#">
      <div class="flex items-center flex-shrink-0 text-white mr-6 w-32">
        <img
          src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/fc492df2-4463-4e08-b4a2-1c6f7708db10/odaiba-logo-icon-inverted-2.svg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAT73L2G45O3KS52Y5%2F20200627%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20200627T013208Z&X-Amz-Expires=86400&X-Amz-Signature=b2834e8461b80e30407742e0f0e41ba300e149c4aa6b5bdfbc7d6b2b0d5a559c&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22odaiba-logo-icon-inverted-2.svg%22" />
      </div>
    </a>

    <div class="flex items-center flex-shrink-0">
      <div>
        <a href="#" class="inline-flex items-center font-semibold text-xl px-4 py-2 leading-none text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0"><img class="w-8 mr-4 bg-white rounded-full"
            src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/c3fa12ba-dbc1-4c80-bb2b-efcb1e8a4273/icons8-finn-96.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAT73L2G45O3KS52Y5%2F20200626%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20200626T110244Z&X-Amz-Expires=86400&X-Amz-Signature=0fc60a68d61741cfb3b9aac08959cbcd5c8b25db5f409fdadc98ccf77b3a778c&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22icons8-finn-96.png%22"
            alt="student-avatar"> Kenta Kimura</a>
      </div>
    </div>

  </nav>
</header>

<body class="bg-white m-0" style="background-color: #F4F1EA">

  <div class="flex w-full text-gray-700 text-center m-2 p-6 px-16">

    <div class="w-8/12 px-4">
      <div class="bg-white p-6 rounded-lg">

        <div class="my-classrooms w-full mb-6">

          <div class="flex justify-between items-center mb-4">
            <div class="w-64 bg-gray-900 rounded-full text-white px-8 py-2 text-lg font-semibold">
              My Classrooms
            </div>
            <hr class="w-full border border-gray-300">
          </div>

          <div class="flex flex-wrap -mx-2">

            <div class="w-1/3 px-2 mb-4">
              <a class="flex" href="#">
                <div class="inline h-auto w-2 text-lg rounded-lg rounded-r-none bg-blue-400"></div>
                <div class="inline w-full bg-gray-100 p-2 text-left rounded hover:shadow-md">
                  <div class="px-3 py-2">
                    <p class="inline-block text-lg font-semibold mb-1">English</p>
                    <div class="block text-sm text-gray-600">
                      <p class="block">Class B</p>
                      <p class="block">Ms Tachibana</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <div class="w-1/3 px-2 mb-4">
              <a class="flex" href="#">
                <div class="inline h-auto w-2 text-lg rounded-lg rounded-r-none bg-green-400"></div>
                <div class="inline w-full bg-gray-100 p-2 text-left rounded hover:shadow-md">
                  <div class="px-3 py-2">
                    <p class="inline-block text-lg font-semibold mb-1">Maths</p>
                    <div class="block text-sm text-gray-600">
                      <p class="block">Class B</p>
                      <p class="block">Mr Murakami</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <div class="w-1/3 px-2 mb-4">
              <a class="flex" href="#">
                <div class="inline h-auto w-2 text-lg rounded-lg rounded-r-none bg-yellow-400"></div>
                <div class="inline w-full bg-gray-100 p-2 text-left rounded hover:shadow-md">
                  <div class="px-3 py-2">
                    <p class="inline-block text-lg font-semibold mb-1">Science</p>
                    <div class="block text-sm text-gray-600">
                      <p class="block">Class B</p>
                      <p class="block">Ms Hayashi</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="w-1/3 px-2 mb-4">
              <a class="flex" href="#">
                <div class="inline h-auto w-2 text-lg rounded-lg rounded-r-none bg-purple-400"></div>
                <div class="inline w-full bg-gray-100 p-2 text-left rounded hover:shadow-md">
                  <div class="px-3 py-2">
                    <p class="inline-block text-lg font-semibold mb-1">Geography</p>
                    <div class="block text-sm text-gray-600">
                      <p class="block">Class B</p>
                      <p class="block">Ms Dedachi</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <div class="w-1/3 px-2 mb-4">
              <a class="flex" href="#">
                <div class="inline h-auto w-2 text-lg rounded-lg rounded-r-none bg-red-400"></div>
                <div class="inline w-full bg-gray-100 p-2 text-left rounded hover:shadow-md">
                  <div class="px-3 py-2">
                    <p class="inline-block text-lg font-semibold mb-1">History</p>
                    <div class="block text-sm text-gray-600">
                      <p class="block">Class B</p>
                      <p class="block">Mr Murata</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>

          </div>

        </div>



        <div class="my-classrooms w-full">

          <div class="flex justify-between items-center mb-4">
            <div class="w-64 bg-gray-900 rounded-full text-white px-8 py-2 text-lg font-semibold">
              My Worksheets
            </div>
            <hr class="w-full border border-gray-300">
          </div>

          <div class="flex flex-wrap -mx-2">

            <div class="w-1/3 px-2 mb-4">
              <a class="flex" href="#">
                <div class="inline h-auto w-2 text-lg rounded-lg rounded-r-none bg-blue-400"></div>
                <div class="inline w-full bg-gray-100 p-2 text-left rounded hover:shadow-md">
                  <div class="px-3 py-2">
                    <p class="inline-block text-lg font-semibold mb-1">Past Tense (3)</p>
                    <div class="block text-sm">
                      <p class="block text-gray-600">English</p>
                      <p class="block text-gray-500">2020/06/22</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <div class="w-1/3 px-2 mb-4">
              <a class="flex" href="#">
                <div class="inline h-auto w-2 text-lg rounded-lg rounded-r-none bg-green-400"></div>
                <div class="inline w-full bg-gray-100 p-2 text-left rounded hover:shadow-md">
                  <div class="px-3 py-2">
                    <p class="inline-block text-lg font-semibold mb-1">Division</p>
                    <div class="block text-sm">
                      <p class="block text-gray-600">Maths</p>
                      <p class="block text-gray-500">2020/06/20</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <div class="w-1/3 px-2 mb-4">
              <a class="flex" href="#">
                <div class="inline h-auto w-2 text-lg rounded-lg rounded-r-none bg-yellow-400"></div>
                <div class="inline w-full bg-gray-100 p-2 text-left rounded hover:shadow-md">
                  <div class="px-3 py-2">
                    <p class="inline-block text-lg font-semibold mb-1">Photosynthesis</p>
                    <div class="block text-sm">
                      <p class="block text-gray-600">Science</p>
                      <p class="block text-gray-500">2020/06/19</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <div class="w-1/3 px-2 mb-4">
              <a class="flex" href="#">
                <div class="inline h-auto w-2 text-lg rounded-lg rounded-r-none bg-yellow-400"></div>
                <div class="inline w-full bg-gray-100 p-2 text-left rounded hover:shadow-md">
                  <div class="px-3 py-2">
                    <p class="inline-block text-lg font-semibold mb-1">Flowers</p>
                    <div class="block text-sm">
                      <p class="block text-gray-600">Science</p>
                      <p class="block text-gray-500">2020/06/18</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <div class="w-1/3 px-2 mb-4">
              <a class="flex" href="#">
                <div class="inline h-auto w-2 text-lg rounded-lg rounded-r-none bg-blue-400"></div>
                <div class="inline w-full bg-gray-100 p-2 text-left rounded hover:shadow-md">
                  <div class="px-3 py-2">
                    <p class="inline-block text-lg font-semibold mb-1">Past Tense (2)</p>
                    <div class="block text-sm">
                      <p class="block text-gray-600">English</p>
                      <p class="block text-gray-500">2020/06/15</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <div class="w-1/3 px-2 mb-4">
              <a class="flex" href="#">
                <div class="inline h-auto w-2 text-lg rounded-lg rounded-r-none bg-green-400"></div>
                <div class="inline w-full bg-gray-100 p-2 text-left rounded hover:shadow-md">
                  <div class="px-3 py-2">
                    <p class="inline-block text-lg font-semibold mb-1">Multiplication</p>
                    <div class="block text-sm">
                      <p class="block text-gray-600">Maths</p>
                      <p class="block text-gray-500">2020/06/15</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <div class="w-1/3 px-2 mb-4">
              <a class="flex" href="#">
                <div class="inline h-auto w-2 text-lg rounded-lg rounded-r-none bg-green-400"></div>
                <div class="inline w-full bg-gray-100 p-2 text-left rounded hover:shadow-md">
                  <div class="px-3 py-2">
                    <p class="inline-block text-lg font-semibold mb-1">Subtraction</p>
                    <div class="block text-sm">
                      <p class="block text-gray-600">Maths</p>
                      <p class="block text-gray-500">2020/06/14</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <div class="w-1/3 px-2 mb-4">
              <a class="flex" href="#">
                <div class="inline h-auto w-2 text-lg rounded-lg rounded-r-none bg-yellow-400"></div>
                <div class="inline w-full bg-gray-100 p-2 text-left rounded hover:shadow-md">
                  <div class="px-3 py-2">
                    <p class="inline-block text-lg font-semibold mb-1">Plants</p>
                    <div class="block text-sm">
                      <p class="block text-gray-600">Science</p>
                      <p class="block text-gray-500">2020/06/14</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <div class="w-1/3 px-2 mb-4">
              <a class="flex" href="#">
                <div class="inline h-auto w-2 text-lg rounded-lg rounded-r-none bg-blue-400"></div>
                <div class="inline w-full bg-gray-100 p-2 text-left rounded hover:shadow-md">
                  <div class="px-3 py-2">
                    <p class="inline-block text-lg font-semibold mb-1">Past Tense (1)</p>
                    <div class="block text-sm">
                      <p class="block text-gray-600">English</p>
                      <p class="block text-gray-500">2020/06/13</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>


          </div>

        </div>

      </div>
    </div>


    <div class="w-4/12 px-4">

      <div class="block bg-orange-500 p-3 rounded-lg mb-6" style="background-color: #F98436">
        <div class="font-semibold text-xl text-white mb-2">
          <h4>Next Scheduled Class</h4>
        </div>
        <div class="bg-white p-4 rounded-lg">
          <div class="block w-full flex justify-between mb-2 text-xl">
            <p class="inline font-semibold">English</p>
            <p class="inline font-semibold">10:30am</p>
          </div>
          <div class="block w-full flex justify-between">
            <div class="inline text-gray-500 text-sm text-left">
              <p class="block">Class B</p>
              <p class="block">Ms Tachibana</p>
            </div>
            <button class="inline bg-teal-500 hover:bg-teal-400 focus:outline-none focus:shadow-outline-none text-white text-sm font-bold py-2 px-6 mt-2 rounded items-center">
              <span>Join Class</span>
            </button>
          </div>

        </div>
      </div>

      <div class="block bg-white p-3 rounded-lg mb-8">
        <div class="font-semibold text-xl mb-3">
          <h4 class="mb-2">Updates</h4>
          <hr class="border">
        </div>
        <div class="bg-white rounded-sm text-left">
          <a class="block w-full mb-2 p-1 pl-2 bg-white hover:bg-gray-200 rounded" href="">
            <p class="block text-normal font-semibold">Something's new!</p>
            <p class="block text-sm text-gray-600">2020/06/20</p>
          </a>
          <hr class="border mb-2">
          <a class="block w-full mb-2 p-1 pl-2 bg-white hover:bg-gray-200 rounded" href="">
            <p class="block text-normal font-semibold">Something's new!</p>
            <p class="block text-sm text-gray-600">2020/06/20</p>
          </a>
          <hr class="border mb-2">
          <a class="block w-full mb-2 p-1 pl-2 bg-white hover:bg-gray-200 rounded" href="">
            <p class="block text-normal font-semibold">Something's new!</p>
            <p class="block text-sm text-gray-600">2020/06/20</p>
          </a>
          <hr class="border mb-2">
          <a class="block w-full mb-2 p-1 pl-2 bg-white hover:bg-gray-200 rounded" href="">
            <p class="block text-normal font-semibold">Something's new!</p>
            <p class="block text-sm text-gray-600">2020/06/20</p>
          </a>
          <hr class="border mb-2">
          <a class="block w-full mb-2 p-1 pl-2 bg-white hover:bg-gray-200 rounded" href="">
            <p class="block text-normal font-semibold">Something's new!</p>
            <p class="block text-sm text-gray-600">2020/06/20</p>
          </a>
          <hr class="border mb-2">
          <a class="block w-full mb-2 p-1 pl-2 bg-white hover:bg-gray-200 rounded" href="">
            <p class="block text-normal font-semibold">Something's new!</p>
            <p class="block text-sm text-gray-600">2020/06/20</p>
          </a>
        </div>
      </div>

    </div>
  </div>






</body>

</html>

