<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" type="image/png" href="odaiba-favicon-32x32.png" />
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link href="../public/style.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
      integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
      crossorigin="anonymous"
    />
  </head>
  <body class="bg-white" style="background-color: #F4F1EA">
    <div
      class="w-full min-h-screen flex flex-wrap items-stretch"
      style="background-color: #F4F1EA"
    >
      <div class="w-full" id="background-wrap relative">
        <div class="x1">
          <div class="cloud"></div>
        </div>

        <div class="x2">
          <div class="cloud"></div>
        </div>

        <div class="x3">
          <div class="cloud"></div>
        </div>

        <div class="x4">
          <div class="cloud"></div>
        </div>

        <div class="x5">
          <div class="cloud"></div>
        </div>
      </div>

      <div class="w-full absolute flex items-stretch py-20 text-orange-500">
        <div class="container self-center mx-auto px-20">
          <h2 class="py-4 text-5xl text-center font-bold mb-2 text-orange-500">
            Student Login
          </h2>

          <div
            class="container max-w-md m-auto py-10 px-10 bg-white rounded-lg"
          >
            <div class="my-5 -mt-1 username-input flex w-full">
              <div
                class="username-icon w-1/6 py-4 px-4 text-lg rounded-lg rounded-r-none text-center bg-gray-400"
              >
                <i class="fas fa-user text-gray-600"></i>
              </div>
              <input
                class="w-5/6 text-lg bg-white focus:outline-none focus:shadow-outline-none rounded-lg rounded-l-none py-4 px-4 appearance-none leading-normal"
                type="text"
                placeholder="username or email address"
                style="background-color: #F4F1EA"
              />
            </div>

            <div class="my-5 -mt-1 username-input flex w-full">
              <div
                class="username-icon w-1/6 py-4 px-4 text-lg rounded-lg rounded-r-none text-center bg-gray-400"
              >
                <i class="fas fa-key text-gray-600"></i>
              </div>
              <input
                class="w-5/6 text-lg bg-white focus:outline-none focus:shadow-outline-none rounded-lg rounded-l-none py-4 px-4 appearance-none leading-normal"
                type="password"
                placeholder="password"
                style="background-color: #F4F1EA"
              />
            </div>

            <a
              class="my-6 block text-lg text-orange-500 hover:text-orange-400 text-right"
              href="#"
              >Forgot password</a
            >
            <a
              class="my-5 -mb-1 block text-center bg-teal-400 hover:bg-teal-300 text-white font-bold py-4 px-4 border-b-4 border-teal-500 hover:border-teal-400 rounded-full uppercase tracking-wider"
              href="https://tailwindcss.com/components"
            >
              Login
            </a>
          </div>
        </div>
      </div>

      <div
        class="w-full self-end p-6 bg-yellow-400"
        style="background-color: #f7be2a"
      >
        <a href="#">
          <div class="items-center flex-shrink-0 text-white m-auto w-32">
            <img
              src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/fc492df2-4463-4e08-b4a2-1c6f7708db10/odaiba-logo-icon-inverted-2.svg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAT73L2G45O3KS52Y5%2F20200627%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20200627T013208Z&X-Amz-Expires=86400&X-Amz-Signature=b2834e8461b80e30407742e0f0e41ba300e149c4aa6b5bdfbc7d6b2b0d5a559c&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22odaiba-logo-icon-inverted-2.svg%22"
            />
          </div>
        </a>
      </div>
    </div>
  </body>
</html>
