<!DOCTYPE html>
<html>

<head>
  <title>Breakout Group</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <link rel="icon" type="image/png" href="../public/odaiba-favicon-32x32.png" />
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>

<header>
  <nav class="flex items-center justify-between flex-wrap bg-yellow-400 px-4 py-2" style="background-color: #f7be2a">

    <a href="#">
      <div class="flex items-center flex-shrink-0 text-white mr-6 w-32">
        <img
          src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/fc492df2-4463-4e08-b4a2-1c6f7708db10/odaiba-logo-icon-inverted-2.svg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAT73L2G45O3KS52Y5%2F20200627%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20200627T013208Z&X-Amz-Expires=86400&X-Amz-Signature=b2834e8461b80e30407742e0f0e41ba300e149c4aa6b5bdfbc7d6b2b0d5a559c&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22odaiba-logo-icon-inverted-2.svg%22" />
      </div>
    </a>

    <div class="flex items-center flex-shrink-0">
      <div>
        <a href="#" class="inline-flex items-center font-semibold text-xl px-4 py-2 leading-none text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0"><img class="w-8 mr-4 bg-white rounded-full"
            src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/c3fa12ba-dbc1-4c80-bb2b-efcb1e8a4273/icons8-finn-96.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAT73L2G45O3KS52Y5%2F20200626%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20200626T110244Z&X-Amz-Expires=86400&X-Amz-Signature=0fc60a68d61741cfb3b9aac08959cbcd5c8b25db5f409fdadc98ccf77b3a778c&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22icons8-finn-96.png%22"
            alt="student-avatar"> Kenta Kimura</a>
      </div>
    </div>

  </nav>
</header>

<body class="bg-white" style="background-color: #F4F1EA">

  <div class="flex p-6">
    <a href="#">
      <div class="flex-none h-12 w-12 text-center bg-white hover:bg-gray-200 p-3 m-2 rounded-full">
        <i class="fas fa-reply text-gray-700"></i>
      </div>
    </a>

    <div class="flex-initial w-full text-gray-700 text-center m-2">
      <div class="flex mb-4">
        <div class="w-8/12 px-4">
          <div class="bg-white p-4 rounded-lg">
            <div class="bg-gray-200 p-4 rounded">

              <table class="table-fixed bg-white">
                <thead>
                  <tr>
                    <th class="border w-1/12 px-4 py-2"></th>
                    <th class="border w-2/12 px-4 py-2">日本語</th>
                    <th class="border w-3/12 px-4 py-2">原形</th>
                    <th class="border w-3/12 px-4 py-2">過去形</th>
                    <th class="border w-3/12 px-4 py-2">過去分詞形</th>
                  </tr>
                </thead>
                <tbody class="text-sm">
                  <tr class="font-medium">
                    <td class="border px-4 py-2">例</td>
                    <td class="border px-4 py-2">始める</td>
                    <td class="border px-4 py-2">begin</td>
                    <td class="border px-4 py-2">began</td>
                    <td class="border px-4 py-2">begun</td>
                  </tr>
                  <tr>
                    <td class="border px-4 py-4">1</td>
                    <td class="border px-4 py-4">食べる</td>
                    <td class="border px-4 py-4">eat</td>
                    <td class="border px-4 py-4">
                      <input class="appearance-none bg-transparent border-b border-b-2 border-gray-400 focus:border-b-2 focus:border-orange-500 w-full text-center text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text"
                        placeholder="Write your answer" aria-label="Answer">
                    </td>
                    <td class="border px-4 py-4"><input
                        class="appearance-none bg-transparent border-b border-b-2 border-gray-400 focus:border-b-2 focus:border-orange-500 w-full text-center text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text"
                        placeholder="Write your answer" aria-label="Answer">
                    </td>
                  </tr>
                  <tr>
                    <td class="border px-4 py-4">2</td>
                    <td class="border px-4 py-4">走る</td>
                    <td class="border px-4 py-4">run</td>
                    <td class="border px-4 py-4">
                      <input class="appearance-none bg-transparent border-b border-b-2 border-gray-400 focus:border-b-2 focus:border-orange-500 w-full text-center text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text"
                        placeholder="Write your answer" aria-label="Answer">
                    </td>
                    <td class="border px-4 py-4"><input
                        class="appearance-none bg-transparent border-b border-b-2 border-gray-400 focus:border-b-2 focus:border-orange-500 w-full text-center text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text"
                        placeholder="Write your answer" aria-label="Answer">
                    </td>
                  </tr>
                  <tr>
                    <td class="border px-4 py-4">3</td>
                    <td class="border px-4 py-4">言う・話す</td>
                    <td class="border px-4 py-4">say</td>
                    <td class="border px-4 py-4">
                      <input class="appearance-none bg-transparent border-b border-b-2 border-gray-400 focus:border-b-2 focus:border-orange-500 w-full text-center text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text"
                        placeholder="Write your answer" aria-label="Answer">
                    </td>
                    <td class="border px-4 py-4"><input
                        class="appearance-none bg-transparent border-b border-b-2 border-gray-400 focus:border-b-2 focus:border-orange-500 w-full text-center text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text"
                        placeholder="Write your answer" aria-label="Answer">
                    </td>
                  </tr>
                  <tr>
                    <td class="border px-4 py-4">4</td>
                    <td class="border px-4 py-4">見る</td>
                    <td class="border px-4 py-4">see</td>
                    <td class="border px-4 py-4">
                      <input class="appearance-none bg-transparent border-b border-b-2 border-gray-400 focus:border-b-2 focus:border-orange-500 w-full text-center text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text"
                        placeholder="Write your answer" aria-label="Answer">
                    </td>
                    <td class="border px-4 py-4"><input
                        class="appearance-none bg-transparent border-b border-b-2 border-gray-400 focus:border-b-2 focus:border-orange-500 w-full text-center text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text"
                        placeholder="Write your answer" aria-label="Answer">
                    </td>
                  </tr>
                  <tr>
                    <td class="border px-4 py-4">5</td>
                    <td class="border px-4 py-4">売る</td>
                    <td class="border px-4 py-4">sell</td>
                    <td class="border px-4 py-4">
                      <input class="appearance-none bg-transparent border-b border-b-2 border-gray-400 focus:border-b-2 focus:border-orange-500 w-full text-center text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text"
                        placeholder="Write your answer" aria-label="Answer">
                    </td>
                    <td class="border px-4 py-4"><input
                        class="appearance-none bg-transparent border-b border-b-2 border-gray-400 focus:border-b-2 focus:border-orange-500 w-full text-center text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text"
                        placeholder="Write your answer" aria-label="Answer">
                    </td>
                  </tr>
                  <tr>
                    <td class="border px-4 py-4">6</td>
                    <td class="border px-4 py-4">送る</td>
                    <td class="border px-4 py-4">send</td>
                    <td class="border px-4 py-4">
                      <input class="appearance-none bg-transparent border-b border-b-2 border-gray-400 focus:border-b-2 focus:border-orange-500 w-full text-center text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text"
                        placeholder="Write your answer" aria-label="Answer">
                    </td>
                    <td class="border px-4 py-4"><input
                        class="appearance-none bg-transparent border-b border-b-2 border-gray-400 focus:border-b-2 focus:border-orange-500 w-full text-center text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text"
                        placeholder="Write your answer" aria-label="Answer">
                    </td>
                  </tr>
                  <tr>
                    <td class="border px-4 py-4">7</td>
                    <td class="border px-4 py-4">歌う</td>
                    <td class="border px-4 py-4">sing</td>
                    <td class="border px-4 py-4">
                      <input class="appearance-none bg-transparent border-b border-b-2 border-gray-400 focus:border-b-2 focus:border-orange-500 w-full text-center text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text"
                        placeholder="Write your answer" aria-label="Answer">
                    </td>
                    <td class="border px-4 py-4"><input
                        class="appearance-none bg-transparent border-b border-b-2 border-gray-400 focus:border-b-2 focus:border-orange-500 w-full text-center text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text"
                        placeholder="Write your answer" aria-label="Answer">
                    </td>
                  </tr>
                  <tr>
                    <td class="border px-4 py-4">8</td>
                    <td class="border px-4 py-4">座る</td>
                    <td class="border px-4 py-4">sit</td>
                    <td class="border px-4 py-4">
                      <input class="appearance-none bg-transparent border-b border-b-2 border-gray-400 focus:border-b-2 focus:border-orange-500 w-full text-center text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text"
                        placeholder="Write your answer" aria-label="Answer">
                    </td>
                    <td class="border px-4 py-4"><input
                        class="appearance-none bg-transparent border-b border-b-2 border-gray-400 focus:border-b-2 focus:border-orange-500 w-full text-center text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text"
                        placeholder="Write your answer" aria-label="Answer">
                    </td>
                  </tr>
                  <tr>
                    <td class="border px-4 py-4">9</td>
                    <td class="border px-4 py-4">話す</td>
                    <td class="border px-4 py-4">speak</td>
                    <td class="border px-4 py-4">
                      <input class="appearance-none bg-transparent border-b border-b-2 border-gray-400 focus:border-b-2 focus:border-orange-500 w-full text-center text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text"
                        placeholder="Write your answer" aria-label="Answer">
                    </td>
                    <td class="border px-4 py-4"><input
                        class="appearance-none bg-transparent border-b border-b-2 border-gray-400 focus:border-b-2 focus:border-orange-500 w-full text-center text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text"
                        placeholder="Write your answer" aria-label="Answer">
                    </td>
                  </tr>
                  <tr>
                    <td class="border px-4 py-4">10</td>
                    <td class="border px-4 py-4">寝る</td>
                    <td class="border px-4 py-4">sleep</td>
                    <td class="border px-4 py-4">
                      <input class="appearance-none bg-transparent border-b border-b-2 border-gray-400 focus:border-b-2 focus:border-orange-500 w-full text-center text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text"
                        placeholder="Write your answer" aria-label="Answer">
                    </td>
                    <td class="border px-4 py-4"><input
                        class="appearance-none bg-transparent border-b border-b-2 border-gray-400 focus:border-b-2 focus:border-orange-500 w-full text-center text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text"
                        placeholder="Write your answer" aria-label="Answer">
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
        <div class="w-4/12 px-4">

          <div class="block bg-orange-500 p-3 rounded-lg mb-6" style="background-color: #F98436">
            <div class="font-semibold text-xl text-white mb-2">
              <h4>Timer</h4>
            </div>
            <div class="bg-white p-4 rounded-lg flex">
              <div class="inline w-1/2">
                <p class="block font-semibold text-3xl">15:00</p>
                <p class="block text-gray-500">Group Session</p>
              </div>
              <div class="inline w-1/2">
                <p class="block font-semibold text-3xl">05:00</p>
                <p class="block text-gray-500">Audrey's Turn</p>
              </div>
            </div>
          </div>

          <div class="block bg-white p-3 rounded-lg mb-8">
            <div class="font-semibold text-xl mb-3">
              <h4 class="mb-2">Members</h4>
              <hr class="border">
            </div>
            <div class="bg-white rounded-lg">
              <div class="block w-full bg-gray-200 px-4 py-3 text-left items-center mb-2">
                <img class="w-8 mr-4 bg-white rounded-full inline"
                  src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/c3fa12ba-dbc1-4c80-bb2b-efcb1e8a4273/icons8-finn-96.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAT73L2G45O3KS52Y5%2F20200626%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20200626T110244Z&X-Amz-Expires=86400&X-Amz-Signature=0fc60a68d61741cfb3b9aac08959cbcd5c8b25db5f409fdadc98ccf77b3a778c&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22icons8-finn-96.png%22"
                  alt="student-avatar" alt="">
                <p class="text-lg inline">Audrey</p>
              </div>
              <div class="block w-full bg-gray-200 px-4 py-3  text-left items-center mb-2">
                <img class="w-8 mr-4 bg-white rounded-full inline"
                  src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/c3fa12ba-dbc1-4c80-bb2b-efcb1e8a4273/icons8-finn-96.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAT73L2G45O3KS52Y5%2F20200626%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20200626T110244Z&X-Amz-Expires=86400&X-Amz-Signature=0fc60a68d61741cfb3b9aac08959cbcd5c8b25db5f409fdadc98ccf77b3a778c&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22icons8-finn-96.png%22"
                  alt="student-avatar" alt="">
                <p class="text-lg inline">Benson</p>
              </div>
              <div class="block w-full bg-gray-200 px-4 py-3  text-left items-center mb-2">
                <img class="w-8 mr-4 bg-white rounded-full inline"
                  src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/c3fa12ba-dbc1-4c80-bb2b-efcb1e8a4273/icons8-finn-96.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAT73L2G45O3KS52Y5%2F20200626%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20200626T110244Z&X-Amz-Expires=86400&X-Amz-Signature=0fc60a68d61741cfb3b9aac08959cbcd5c8b25db5f409fdadc98ccf77b3a778c&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22icons8-finn-96.png%22"
                  alt="student-avatar" alt="">
                <p class="text-lg inline">Carly</p>
              </div>
              <div class="block w-full bg-gray-200 px-4 py-3  text-left items-center mb-2">
                <img class="w-8 mr-4 bg-white rounded-full inline"
                  src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/c3fa12ba-dbc1-4c80-bb2b-efcb1e8a4273/icons8-finn-96.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAT73L2G45O3KS52Y5%2F20200626%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20200626T110244Z&X-Amz-Expires=86400&X-Amz-Signature=0fc60a68d61741cfb3b9aac08959cbcd5c8b25db5f409fdadc98ccf77b3a778c&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22icons8-finn-96.png%22"
                  alt="student-avatar" alt="">
                <p class="text-lg inline">Darwin</p>
              </div>
            </div>
          </div>

          <div class="block flex flex-wrap">
            <a class="w-1/3 ml-auto" href="#">
              <div class="flex-none h-20 w-20 text-center bg-white hover:bg-orange-500 p-6 ml-6 rounded-full">
                <i class="fas fa-hand-paper fa-2x text-gray-700"></i>
              </div>
            </a>
            <a class="w-1/3 mr-auto" href="#">
              <div class="flex-none h-20 w-20 text-center bg-white hover:bg-orange-500 py-6 px-5 ml-6 rounded-full">
                <i class="fas fa-microphone-slash fa-2x text-gray-700"></i>
              </div>
            </a>
          </div>

        </div>
      </div>

    </div>
  </div>

  <!-- <div class="p-8 flex">
  <div class="w-12 inline items-start"><a class="bg-white rounded-full p-3" href="#">O</a></div>
  <div class="inline w-full items-start">
    <div class="flex mb-4">
      <div class="w-8/12 px-4">
        <div class="bg-white h-40"></div>
      </div>
      <div class="w-4/12 px-4">
        <div class="bg-gray-400 h-12"></div>
      </div>
    </div>
  </div>
</div> -->


</body>

</html>
